name: workflow101

on:
  push:
    branches: 
      - main

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: run tests
        run: |
          echo "running tests"
          exit 1

      - name: upload logs on failure
        if: always() && failure()
        run: |
          echo "tests failed! upload logs"