name: workflow101

on:
  push:
    branches: 
      - main

concurrency:
  group: ${{github.ref}}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: wait 5 seconds
        run: sleep 20 

      - run: echo "building..."




      