name: ACTIONS101
run-name: Pipeline run by @${{ github.actor }}

on:
  push:
    branches: ["main"]
  
env:
  PIPE: cicd

jobs:
  report-url-windows:
    runs-on: self-hosted
    steps:
      - name: Show GitHub context (PowerShell)
        shell: powershell
        run: |
          echo "$env:GITHUB_SERVER_URL/$env:GITHUB_REPOSITORY/actions/runs/$env:GITHUB_RUN_ID"

  workflow-info:
    runs-on: self-hosted
    steps:
      - name: report
        run: echo "Running $GITHUB_WORKFLOW"